@import "src/style/variables";
.leaderItem {
  padding-bottom: 20px;

  &_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_box {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_span {
    width: 15%;
  }

  &_score {
    text-align: center;
    width: 10%;
    font-size: 20px;
    font-weight: bold;
  }

  &_name {
    text-align: center;
    width: 25%;
    font-size: 16px;
    font-weight: bold;
  }

  &_img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  &_edit {
    transition: all 0.25s ease;

    &:hover {
      transition: .3s;
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: $general-hover-box-shadow;
    }
  }
}
