$general-box-shadow:rgba(0, 0, 0, 0.35) 0 5px 15px;
$general-hover-box-shadow:0 10px 20px -10px rgba(24, 90, 219, 0.6);
$highest-leaders-bg-color: #b65ec0;
$add-user-bg-color: #b65ec0;
$new-day-bg-color: darkorange;
$new-day-active-bg-color: chocolate;
$modal-bg-color: rgba(0, 0, 0, 0.2);
$modal-active-bg-color: blueviolet;
$modal-button-bg-color: #b65ec0;
$modal-container-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
