.leaders {
  width: 80%;
  background-color: #b65ec0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  // .leaders_container
  &_container {
  }

  // .leaders_box
  &_box {
  }

  // .leaders_img
  &_img {
  }
}
