@import "../../style/variables";

.leaderList {
  width: 80%;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 0 48px;
  background-color: white;
  border-radius: 20px;
  box-shadow: $general-box-shadow;

  &_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
  }

  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
  }

  &_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.box {
  &_container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdbdbd;
  }

  &_lineLeft {
    transition: all 0.25s ease;

    &:hover {
      transition: .3s;
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: $general-hover-box-shadow;
    }
  }

  &_lineRight {
    transition: all 0.25s ease;

    &:hover {
      transition: .3s;
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: $general-hover-box-shadow;
    }
  }

  &_button1 {
    background-color: $new-day-bg-color;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.25s ease;

    &:hover {
      transition: .3s;
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: $general-hover-box-shadow;
    }

    &:active {
      background-color: $new-day-active-bg-color;
    }
  }

  &_button2 {
    margin-left: 10px;
    background-color: $add-user-bg-color;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.25s ease;

    &:hover {
      transition: .3s;
      cursor: pointer;
      transform: translateY(-5px);
      box-shadow: $general-hover-box-shadow;
    }
  }
}
