@import "../../style/variables";

.leaderList {
  width: 80%;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 0 48px;
  background-color: white;
  border-radius: 20px;
  box-shadow: $general-box-shadow;

  &_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
  }

  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }

  &_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.box {
  &_container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdbdbd;
  }

  &_lineLeft {
    cursor: pointer;
  }

  &_lineRight {
    cursor: pointer;
  }

  &_button {
    &-filter {
      background-color:$filter-bg-color;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition: all 0.25s ease;

      &:hover {
        transition: .3s;
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: $general-hover-box-shadow;
      }

      &:active {
        background-color:$filter-active-bg-color;
      }
    }

    &-newDay {
      background-color: $new-day-bg-color;
      margin-left: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition: all 0.25s ease;

      &:hover {
        transition: .3s;
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: $general-hover-box-shadow;
      }

      &:active {
        background-color: $new-day-active-bg-color;
      }
    }

    &-newUser {
      margin-left: 10px;
      background-color: $add-user-bg-color;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      transition: all 0.25s ease;

      &:hover {
        transition: .3s;
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: $general-hover-box-shadow;
      }
    }
  }
}
.none{
  visibility: hidden;
}
